










<section id="home"  class="d-flex align-items-center position-relative vh-100 cover hero" style="background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/cappadocia.jpg); height: 68vh!important;">
    <div class="container-fluid container-fluid-max">
      <div class="row" style="margin-left: 6%;margin-top: 8%;">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <h1 class="text-white">Flights search</h1>
         <!-- <div class="mt-3">
            <a class="btn bg-red text-white mr-2" href="" role="button">Book Now</a>
            <a class="btn bg-red text-white" href="" role="button">Select Your Package</a>
          </div>--> 












<div class="tabs1 mt-3" >
    
    <div class="tab" >
        <input type="radio" id="tab-1" name="tab-group-1" checked>
        <label for="tab-1"  style="background-color: black;color: white;border: 1px solid black;
        font-weight: bold;width: 112px;text-align: center;"><i class="fas fa-fighter-jet"></i> Flights</label>
        <br>
        <div class="content" style="background-color: black;border: 1px solid black; margin-top:2%;">
         
          <div class="row" style="margin-left: 4%;">
            <div class="col-12 col-sm-6 col-lg-3">
              <div>
                